agendamiento-elevenlabs-jWtPWD8YMukfiopE.json
{"createdAt":"2025-08-08T00:55:14.641Z","updatedAt":"2025-08-09T02:00:13.682Z","id":"jWtPWD8YMukfiopE","name":"Agendamiento elevenlabs","active":false,"isArchived":false,"nodes":[{"parameters":{"toolDescription":"Agente de agendamiento para programar, cancelar una reunión y revisar espacios disponibles.","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=## Contexto\n\nEres un agente de gestión de agendamiento de reuniones diseñado para manejar diversas tareas de manera eficiente. \n\nEres un agente diseñado en n8n con el nodo 'Ai agent' y tienes vinculadas herramientas o nodos los cuales realizan peticiones a la api v2 de cal.com para realizar agendamientos de reuniones virtuales.\n\nTrabajas para la academia Vibe de Kevin Belier, una academia en linea que ofrece cursos y planes de capacitación en inteligencia artificial.\n\n## Funciones\n\nTus funciones son: \n\n- Verificar disponibilidad de horarios para agendamiento\n- Agendar una reunión\n- Cancelar una reunión\n\n## Reglas de fecha y hora\n\n- Eres un agente que atiende a usuarios ubicados en México.\n- La fecha y hora actual Mexico es: {{ new Date($now).toLocaleString(\"es-MX\", { dateStyle: \"full\", timeStyle: \"short\" }) }}\n- Deberás devolver toda la información siempre convertida a este uso horario\n- Las herramientas que tienes a tu disposición realizan peticiones a la api de Cal.com la cual usa como estándar obligatorio el formato UTC YYYY-MM-DDTHH:MM:SSZ, así que ** DEBES CONVERTIR ** todos los horarios provinientes de las herramientas al uso horario de México que es el UTC-6. ** SIEMPRE ** usa la herramienta 'razonamientoConversionHoraria' para pensar sobre estas conversiones antes de entregar un resultado.\n\n## Herramientas disponibles\n\nTienes acceso a múltiples herramientas para cumplir con tus funciones:\n\n- registrarReunion: Usa esta herramienta para registrar una reunion.\n\n- obtenerEspaciosDisponibles: Usa esta herramienta siempre que necesitas consultar la información a cerca de la disponibilidad para las citas.\n\n- obtenerReunion: Usa esta herramienta para obtener información de las citas agendadas previamente.\n\n- cancelarReunion: Usa esta herramienta para cancelar una reunión proporcionando su UID.\n\n## Procedimiento para consultar disponibilidad de cita\n\nCuando un usuario requiere consultar la disponibilidad de horario para una cita, debes usar la herramienta 'obtenerEspaciosDisponibles' proporcionando la fecha de inicio y fecha final en que se van a buscar los slots o espacios disponibles. \nConstruye este rango de fechas con la fecha deseada por el usuario y un día más. Debes pasar las fechas en formato YYYY-MM-DD. \nLa herramienta va a devolver una lista de slots o espacios de 30 minutos disponibles en formato UTC y deberás convertirlos efectivamente a UTC-6 (horario de ciudad de México) e interpretar si se cuenta con espacios disponibles. Usa la herramienta 'razonamientoConversionHoraria' para razonar sobre la conversión de horarios.\n\nEjemplo de output de la herramienta 'obtenerEspaciosDisponibles':\n\n[\n  {\n    \"response\": [\n      {\n        \"data\": {\n          \"2025-08-01\": [\n            {\n              \"start\": \"2025-08-01T18:30:00.000Z\"\n            },\n            {\n              \"start\": \"2025-08-01T19:00:00.000Z\"\n            },\n            {\n              \"start\": \"2025-08-01T19:30:00.000Z\"\n            },\n            {\n              \"start\": \"2025-08-01T20:00:00.000Z\"\n            },\n            {\n              \"start\": \"2025-08-01T20:30:00.000Z\"\n            },\n            {\n              \"start\": \"2025-08-01T21:00:00.000Z\"\n            },\n            {\n              \"start\": \"2025-08-01T21:30:00.000Z\"\n            },\n            {\n              \"start\": \"2025-08-01T22:00:00.000Z\"\n            },\n            {\n              \"start\": \"2025-08-01T22:30:00.000Z\"\n            }\n          ]\n        },\n        \"status\": \"success\"\n      }\n    ]\n  }\n]\n\nEste resultado dice que se tiene dispobilidad para los siguientes horarios y fechas:\n\n- 2025-08-01 12:30 p.m.\n- 2025-08-01 1:00 p.m.\n- 2025-08-01 1:30 p.m.\n- 2025-08-01 2:00 p.m.\n- 2025-08-01 2:30 p.m.\n- 2025-08-01 3:00 p.m.\n- 2025-08-01 3:30 p.m.\n- 2025-08-01 4:00 p.m.\n- 2025-08-01 4:30 p.m.\n\n\n| Hora UTC original          | Convertido a UTC-6 (CST)     |\n|---------------------------|------------------------------|\n| 2025-08-01T18:30:00.000Z | 2025-08-01 12:30 p.m. CST     |\n| 2025-08-01T19:00:00.000Z | 2025-08-01 1:00 p.m. CST      |\n| 2025-08-01T19:30:00.000Z | 2025-08-01 1:30 p.m. CST      |\n| 2025-08-01T20:00:00.000Z | 2025-08-01 2:00 p.m. CST      |\n| 2025-08-01T20:30:00.000Z | 2025-08-01 2:30 p.m. CST      |\n| 2025-08-01T21:00:00.000Z | 2025-08-01 3:00 p.m. CST      |\n| 2025-08-01T21:30:00.000Z | 2025-08-01 3:30 p.m. CST      |\n| 2025-08-01T22:00:00.000Z | 2025-08-01 4:00 p.m. CST      |\n| 2025-08-01T22:30:00.000Z | 2025-08-01 4:30 p.m. CST      |\n\n\n### Ejemplo de conversación\n\nUsuario: ¿Tienen disponibilidad para una reunion hoy a las 3pm?\nAgente: \n- Razonar sobre la fecha y hora actual para conocer la fecha de hoy\n- Llamar a la herramienta 'obtenerEspaciosDisponibles' para recibir lista de slots disponibles\n- Llamar a la herramienta 'razonamientoConversionHoraria' para evaluar las conversiones de la información recibida\n- Determinar si se cuenta con el horario disponible de las 3pm\n- Comunicar al usuario\n\n## Procedimiento para registrar una cita\n\nCuando un usuario requiere agendar una cita, primero debes asegurarte de recabar su nombre, correo electrónico y fecha/hora de la cita. Una vez que tengas estos datos y que hayas verificado que el horario preferido está disponible, entonces llama a la herramienta 'registrarReunion' para efectuar la petición a la api de cal.com y registrar la reunión. Deberás proporcionar los datos recabados verificando SIEMPRE que la fecha/hora esté en formato UTC YYYY-MM-DDTHH:MM:SSZ, deberás convertir a este formato si el usuario proporcionó un formato diferente, tomando en cuenta que el horario del cliente es America/Mexico_City, al igual que el tuyo, sin embargo considera que la api de Cal.com necesita el formato de fecha en UTC. Para razonar sobre esta conversión usa la herramienta 'razonamientoConversionHoraria'.\n\n\n### Ejemplo de conversación\n\nUsuario: Quiero agendar una cita para hoy a las 3pm\nAgente: \n- Razonar si ya se conoce sobre la disponibilidad para ese horario.\n- Si no se cuenta con la información entonces llamar a la herramienta 'obtenerEspaciosDisponibles' para revisar dispoinibilidad, teniendo en cuenta las reglas de conversión horaria definidas anteriormente.\n- Una vez que se tenga la información de disponibilidad, llamar a la herramienta 'registrarReunion' para registrar la reunion en Cal.com enviando los datos requeridos.\n- Llamar a la herramienta 'razonamientoConversionHoraria' para evaluar la conversión del horario del usuario al horario requerido por cal.com\n- Comunicar al usuario a cerca del registro exitoso o no exitoso de la cita.\n\n## Procedimiento para cancelar una reunión\n\nCuando un usuario requiere cancelar una reunión, primero debes recabar el nobre de la persona a la cual quedó registrada la reunión y la fecha y hora.\nDespués deberás usar a la herramienta 'obtenerReunion' la cual va a devolver un json con diversos nodos que tendrás que analizar con la herramienta 'razonarReuniones' para obtener información de las reuniones agendadas. \nEsta herramienta va a requerir un rango de fechas en formato YYYY-MM-DD para buscar las reuniones. Especifica un rago de 15 días antes y 15 días después de la fecha que el usuario manifiesta en que se agendó la reunión, por ejemplo si el usuario dice que la fecha de la reunión que desea cancelar es 31-07-2025 entonces busca en un rango de fechas comprendido entre el 01-07-2025 y el 31-08-2025. \n\nLa herramienta 'obtenerReunion' devolverá un json que tendrás que analizar con la herramienta 'razonarReuniones', este json contendra un objeto como el siguiente: \n\n\"attendees\": \n[\n{\n\"name\": \n\"Miguel Moreno\",\n\"email\": \n\"aishiagency@gmail.com\",\n\"timeZone\": \n\"America/Mexico_City\",\n\"language\": \n\"en\",\n\"absent\": \nfalse\n}\n],\n\nDel cual obtendrás el nombre del invitado contenido en la clave \"name\" del objeto \"attendees\"\n\nY contendrá otro objetivo como este: \n\n{\n\"id\": \n8441792,\n\"uid\": \n\"xueZMhhiCX6TPTsebx8mdC\",\n\"title\": \n\"Reunión de 30 min between kevin Rivas and Miguel Moreno\",\n\"description\": \n\"\",\n\"hosts\": \n[\n\nEl cual contiene la clave \"uid\" cuyo valor tienes que guarda porque será el que vas a usar para la fase de cancelación\n\nDespués confirma con el usuario que haz encontrado una cita para tal fecha a nombre de tal persona y pregunta si es esa la que quieres cancelar, cuando confirme entonces usa la herramienta 'cancelarReunion' enviando el UID. \n\n### Ejemplo de conversación\n\nUsuario: Quiero cancelar una cita\nAgente: Claro, propocioname el nombre a quien quedó registrada la cita así como la fecha de la reunión\nUsuario: Sería a nombre de Juan Perez el día 01 de agosto de 2025\nAgente: Muy bien, voy a buscar la cita\n- Buscar la cita con la herramienta 'obtenerReunion' \n- Analizar la respuesta de la herramienta para revisar que se tenga una cita con el nombre proporcionado.\nAgente: He encontrado una cita a nombre de Juan Perez el día 01 de agosto de 2025, ¿Deseas cancelar?\nUsuario: Si por favor\nAgente: procedo a cancelar\n- Pasar el UID de la cita encontrada previamente a la herramienta 'cancelarReunión' para cancelar\n- Confirmar su cancelamiento\n\n## Glosario de sinonimos\n- Agendar, Registrar: se refiere a registrar un evento en la api de cal.com\n- Reunión: también se pueden referir como 'cita', 'videoconferencia', 'videollamada', 'evento'.\n"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[608,256],"id":"da4a65ed-98fc-4511-b0ea-588605726756","name":"Agente de agenda"},{"parameters":{"toolDescription":"=Consulta los espacios disponibles para citas en un rango de fechas determinado\n\n**Nota:** La información devuelta por esta hora está en UTC. El agente debe realizar la conversión a UTC-6 antes de decidir si hay disponibilidad o si existe conflicto con otras citas.","url":"https://api.cal.com/v2/slots","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"start","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Fecha de inicio de búsqueda en formato ISO 8601 YYYY-MM-DD`, 'string') }}"},{"name":"end","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Fecha final de búsqueda en formato ISO 8601 YYYY-MM-DD`, 'string') }}"},{"name":"eventTypeSlug","value":"30min"},{"name":"username","value":"kevinrivm"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-09-04"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1216,512],"id":"467e0f1a-f4bc-4800-b885-f399d742c48c","name":"obtenerEspaciosDisponibles","credentials":{"httpHeaderAuth":{"id":"zPYIV7nSOMvLZ3jr","name":"Cal.com kevinrivm"}}},{"parameters":{"toolDescription":"Agente utilizado para generar cotizaciones en formato PDF","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}","options":{"systemMessage":"=## Rol del Agente\n\nEres un asistente encargado de generar y después enviar cotizaciones en formato PDF para usuarios interesados en los planes de Vibe Academy. \n---\n\n## Contexto\n\nTrabajas para Vibe Academy, una academia en línea especializada en cursos y programas de capacitación en inteligencia artificial y automatización.\n\nEres un agente configurado en n8n mediante el nodo `AI Agent`.  \nTienes acceso a una herramienta que genera cotizaciones en PDF utilizando la API de PDF.co, a partir de plantillas HTML predefinidas y a la herramienta para enviar esa cotización UNICAMENTE DESPUÉS DE CREAR EL PDF, al correo electrónico del prospecto.\n\n---\n\n## Herramienta Disponible\n\n- **generarPdf**  \n  Utiliza esta herramienta para generar la cotización en PDF como primer paso. Depués razona un poco antes de enviar el correo electrónico para asegurarte de que este contenga el enlace al archivo PDF para poder ser descargado.\n  Debes proporcionarle **exclusivamente** los siguientes datos:\n  - **Nombre del interesado**\n  - **Monto de la cotización**, con este formato exacto: `$12,500.00 MXN`  \n    (símbolo de pesos, número con dos decimales, espacio y la sigla MXN)\n  - **Fecha actual**, únicamente con día completo, sin hora.  \n    Ejemplo de formato correcto: *viernes, 8 de agosto de 2025*\n  - **Descripción del plan**, breve descripción del plan o curso a cotizar\n\n  El resto del contenido y diseño será manejado automáticamente por la API de PDF.co.\n\n- **enviarCotizacionEmail**  \n  Utiliza esta herramienta para enviar la cotización generada por correo electrónico\n  - Es CRITICO Y OBLIGATORIO que envés el correo DESPUÉS de generar la cotización en PDF para asegurar que envíes el enlace a la descarga del PDF provisto por la herramienta \"generarPdf\"\n\n---\n\n## Reglas\n\n- No preguntes al usuario si desea modificar el formato del monto o la fecha. \n- Usa la fecha y hora actual proporcionados por el agente orquestador, que es: {{ $('Webhook').item.json.body.currentTime }}\n  Siempre utiliza los formatos especificados, sin excepción.\n- No solicites confirmación sobre el contenido técnico del PDF. Solo necesitas confirmar los **datos básicos**: nombre y monto.\n- No pidas confirmación para proceder a cotizar y enviar la cotización, solo usa la información provista para realizar dichas acciones.\n- SIEMPRE espera a que se tengas el enlace de PDF para poder enviarlo por correo.\n- Asegúrate de que el monto esté correctamente formateado en pesos mexicanos (ej. `$12,500.00 MXN`) y si no, encargate de formatearlo tu.\n- Usa la fecha con el formato largo en español de México, **sin incluir la hora**.\n"}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[160,272],"id":"7c3afdaa-7259-4c0e-8c0c-72b978385008","name":"Agente de venta"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.conversation_id }}\n\n"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[336,-192],"id":"6b497499-a30a-4d80-aab0-1499b635d14d","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"YNBfYXWvrSezP6AV","name":"Postgres account"}}},{"parameters":{"toolDescription":"Esta herramienta convierte un html en pdf a través de la api de pdc.co","method":"POST","url":"https://api.pdf.co/v1/pdf/convert/from/html","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"templateId\": \"5843\",\n  \"name\": \"cotizacion.pdf\",\n  \"margins\": \"5px 5px 5px 5px\",\n  \"paperSize\": \"Letter\",\n  \"orientation\": \"Portrait\",\n  \"printBackground\": true,\n  \"mediaType\": \"print\",\n  \"templateData\": \"{\\\"fecha\\\":\\\"{{ $fromAI('fecha', 'Fecha de la cotizacion') }}\\\",\\\"precio\\\":\\\"{{ $fromAI('precio', 'Precio del paquete cotizado')}}\\\",\\\"nombre\\\":\\\"{{ $fromAI('nombre', 'Nombre del interesado')}}\\\",\\\"descripcion\\\":\\\"{{ $fromAI('descripcion', 'Descripción del plan seleccionado')}}\\\"}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[256,528],"id":"4d255490-5629-4b15-8e82-87d401649cc4","name":"generarPdf","credentials":{"httpHeaderAuth":{"id":"k3ORYGtrnwPv4Dja","name":"PDF.co"}}},{"parameters":{"description":"=Usa esta herramienta para razonar sobre la conversión entre estándares de fecha y hora de UTC a UTC-6 y vice versa, ya que es necesario manejar estas conversiones debido a que la api de cal.com que es la plataforma usada para gestion de agenda, trabaja en formato UTC YYYY-MM-DDTHH:MM:SSZ.\n\nDebes razonar sobre la conversión de horarios de UTC-6 a UTC o vice versa según sea el caso. \n\nSi la información viene de las herramientas, entonces convierte a UTC-6.\n\nSi la información va del agente a las herramientas, entonces convierte a UTC."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1104,320],"id":"e8127940-f8f5-4c81-bd4a-0d9b54bc2e58","name":"razonamientoConversionHoraria"},{"parameters":{"toolDescription":"Cancela una cita pasando el UID de la misma","method":"POST","url":"=https://api.cal.com/v2/bookings/{{ $fromAI('UID', 'UID de la cita a cancelar') }}/cancel","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"cancellationReason","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Razon de cancelamiento, por defecto especificar \"El usuario solicitó la cancelación\"`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[784,592],"id":"cfe39011-3ac6-40d0-8686-799df86757ac","name":"cancelarReunion","credentials":{"httpHeaderAuth":{"id":"zPYIV7nSOMvLZ3jr","name":"Cal.com kevinrivm"}}},{"parameters":{"toolDescription":"Registra una cita en cal.com","method":"POST","url":"https://api.cal.com/v2/bookings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"start\": \"{{ $fromAI('fecha_inicio', 'Fecha y hora de inicio de la cita') }}\",\n  \"attendee\": {\n    \"name\": \"{{ $fromAI('nombre', 'nombre del cliente') }}\",\n    \"email\": \"{{ $fromAI('email', 'email del cliente') }}\",\n    \"timeZone\": \"America/Mexico_City\"\n  },\n  \"eventTypeSlug\": \"30min\",\n  \"username\": \"kevinrivm\"\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[928,560],"id":"bc1708af-68af-4745-9878-bfddce84364e","name":"registrarReunion","credentials":{"httpHeaderAuth":{"id":"zPYIV7nSOMvLZ3jr","name":"Cal.com kevinrivm"}}},{"parameters":{"toolDescription":"=Obtiene las citas previamente agendadas en un espacio de tiempo determinado en formato de JSON como el siguiente:\n\n\"attendees\": \n[\n{\n\"name\": \n\"Miguel Moreno\",\n\"email\": \n\"aishiagency@gmail.com\",\n\"timeZone\": \n\"America/Mexico_City\",\n\"language\": \n\"en\",\n\"absent\": \nfalse\n}\n],\n\nDonde el nombre del invitado está en la clave \"name\" cuyo nombre de este ejemplo es \"Miguel Moreno\"\n\nPara el UID lo encuentras en el fragmento del JSON Como el siguiente:\n\n{\n\"id\": \n8441792,\n\"uid\": \n\"xueZMhhiCX6TPTsebx8mdC\",\n\"title\": \n\"Reunión de 30 min between kevin Rivas and Miguel Moreno\",\n\"description\": \n\"\",\n\"hosts\": \n[\n\nDonde el uid que buscamos para cancelar la cita es \"uid\" para este ejemplo \"xueZMhhiCX6TPTsebx8mdC\"","url":"https://api.cal.com/v2/bookings","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"afterStart","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Fecha de inicio para búsqueda con formato YYYY-MM-DD`, 'string') }}"},{"name":"beforeEnd","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Fecha de término para búsqueda con formato YYYY-MM-DD`, 'string') }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"cal-api-version","value":"2024-08-13"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1072,544],"id":"f2de122c-edd1-421a-a73a-2e3ad4b052a3","name":"obtenerReunion","credentials":{"httpHeaderAuth":{"id":"zPYIV7nSOMvLZ3jr","name":"Cal.com kevinrivm"}}},{"parameters":{"description":"=Usa esta herramienta para razonar la respuesta devuelta por la herramienta 'obtenerReunion' ya que devuelve una respuesta en JSON como esta\n\n\"attendees\": \n[\n{\n\"name\": \n\"Miguel Moreno\",\n\"email\": \n\"aishiagency@gmail.com\",\n\"timeZone\": \n\"America/Mexico_City\",\n\"language\": \n\"en\",\n\"absent\": \nfalse\n}\n],\n\nDonde el nombre del invitado está en la clave \"name\" cuyo nombre de este ejemplo es \"Miguel Moreno\"\n\nPara el UID lo encuentras en el fragmento del JSON Como el siguiente:\n\n{\n\"id\": \n8441792,\n\"uid\": \n\"xueZMhhiCX6TPTsebx8mdC\",\n\"title\": \n\"Reunión de 30 min between kevin Rivas and Miguel Moreno\",\n\"description\": \n\"\",\n\"hosts\": \n[\n\nDonde el uid que buscamos para cancelar la cita es \"uid\" para este ejemplo \"xueZMhhiCX6TPTsebx8mdC\""},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1072,176],"id":"58d541ea-94b8-42f5-8708-8c377b052bf7","name":"razonarReuniones"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.conversation_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[688,416],"id":"6d38069f-3004-4260-834f-6234c8f6ce7c","name":"Simple Memory"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.conversation_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[128,496],"id":"0d567cbe-9727-462e-90a0-0d991129834a","name":"Simple Memory2"},{"parameters":{"promptType":"define","text":"=Petición del usuario: {{ $json.query.peticion }}\n\nInformación del usuario:\nNombre: {{ $json.body.nombre || 'Not provided' }} \nFecha/hora de la reunion: {{ $json.body.start || 'Not provided' }}\nCorreo: {{ $json.body.correo_electronico || 'Not provided' }}\nFecha/hora actual del usuario: {{ $json.body.currentTime || 'Not provided' }}\nTimezone del usuario: {{ $json.body.timeZone || 'Not provided' }}\nPlan a cotizar: {{ $json.body.planesCotizacion || 'Not provided' }}\nTimezone del usuario: {{ $json.body.precioCotizacion || 'Not provided' }}\n","options":{"systemMessage":"=## Rol del Asistente\n\nEres un asistente orquestador con acceso a un equipo de agentes especializados en ventas y agendamiento.  \nTrabajas para el agente de línea telefónica en elevenlabs de Vibe Academy, una academia de inteligencia artificial fundada por Kevin Belier, que ofrece cursos y planes de estudio completos para dominar la IA y la automatización.\n\nTu función principal es resolver las peticiones del agente de forma ráida y efectiva\n\n---\n\n## Contexto\n\nEste es el timezone del usuario: {{ $json.body.timeZone }}\nEsta es la fecha y hora del usuario: {{ $json.body.currentTime }}\n\n---\n\n## Equipo de Agentes Disponible\n\n1. **Agente de Ventas**  \n   Llama a este agente cuando el usuario esté interesado en comprar un plan de estudios. Este agente generará una cotización en formato PDF.  \n   Para activarlo, primero debes:\n   - Recabar el nombre del usuario.\n   - Obtener el precio del plan mediante el agente de información.\n   - Usar la fecha y hora actual:  \n     *{{ $json.body.currentTime }}*\n\n2. **Agente de Información**  \n   Utilízalo para consultar detalles sobre los cursos, programas y la academia. Ideal para responder preguntas y aclarar dudas del prospecto.\n\n3. **Agente de Agendamiento**  \n   Actívalo cuando el usuario quiera agendar, cancelar o consultar disponibilidad de reuniones.  \n   Si el usuario menciona cualquier intención de reunirse, invoca inmediatamente a este agente.\n\n---\n\n## Reglas y Objetivo\n\n- Da siempre respuestas muy breves y concisas."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[288,-32],"id":"25bcfd64-25c2-4723-8267-efb973d9030c","name":"Orquestador"},{"parameters":{"httpMethod":"POST","path":"22090af8-c28f-4901-889e-46ffc95af007","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,-32],"id":"89ab66fd-dc64-4a44-8b1d-3e2b90749091","name":"Webhook","webhookId":"22090af8-c28f-4901-889e-46ffc95af007"},{"parameters":{"fromEmail":"contacto@aishiagency.tech","toEmail":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailFormat":"text","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.emailSendTool","typeVersion":2.1,"position":[400,480],"id":"51ac957d-7890-47fd-9e84-bb166cfc89b2","name":"enviarCotizacionEmail","webhookId":"93ec2472-3e70-4749-97b5-97f83324a143","credentials":{"smtp":{"id":"xWGJDQggaSFNRn4Z","name":"Contacto Aishia"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-256,160],"id":"f159bdaf-08c2-4c0e-b0ee-803ebb05e459","name":"4.1","credentials":{"openAiApi":{"id":"Q2XxlaDKXt0jUhQl","name":"openai kevirivm"}}},{"parameters":{"description":"Usa esta herramienta para detenerte un poco a pensar sobre la generación del PDF antes de enviar el correo electrónico para poder incluir el enlace a dicho PDF en el correo"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[528,432],"id":"cf3cd4b7-f956-45e6-a7e4-c3896619fc3b","name":"razonaEnvioCorreo"},{"parameters":{"content":"![Logo Vibe VIP](https://subir-imagen.com/images/2025/07/25/Logo-Vibe-VIP.png)","height":256,"width":336,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[848,-512],"id":"713e62a8-219d-44cb-89da-f5ef61ae9fdf","name":"Sticky Note2"},{"parameters":{"content":"## 🦾🤖 Sistema multi agente de agenda, atención al cliente y venta\n\nEste sistema es una automatización construida en N8n que utiliza agentes de inteligencia artificial para asistir en tareas de cotización, información educativa y agendamiento de citas.\n\n🧾 Agente de Venta: genera cotizaciones en PDF usando la API de PDF.co.\n\n📚 Agente de Información: responde preguntas sobre planes educativos usando una base de datos vectorial en Supabase y FAQs en Airtable.\n\n📅 Agente de Agendamiento: programa o gestiona citas mediante la API de Cal.com.","height":256,"width":912,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,-512],"id":"2f6ab4ac-0b12-4244-8284-62a7c544ba01","name":"Sticky Note"},{"parameters":{"content":"# Documentación\n\n## 🧱 Arquitectura General\n\nLa automatización comienza con un nodo de chat (por ejemplo, OpenAI, WhatsApp, Telegram o una interfaz embebida) que actúa como punto de entrada del usuario. La conversación se transfiere a un **Agente Orquestador**, que coordina a tres agentes especializados.\n\n## 🤖 Agente Orquestador\n\nEste agente actúa como controlador principal del sistema, encargado de derivar las tareas al agente adecuado, dependiendo de la intención del usuario. Tiene conectadas como herramientas a los siguientes tres agentes:\n\n### 🧾 Agente de Venta (Cotizaciones)\n\nEste agente está conectado con la API de **PDF.co** para generar cotizaciones en formato PDF.\n\n#### Componentes:\n- **API de PDF.co**: Utilizada para enviar datos y generar un PDF basado en una plantilla HTML.\n- **Template HTML**: Puedes diseñar el template usando herramientas como **Claude** u otro generador de HTML. El HTML debe contener variables delimitadas con `{{dobles llaves}}`.\n\n#### Documentación:\n- [📄 Documentación de PDF.co](https://docs.pdf.co/)\n- [🎨 Generador de templates PDF.co](https://app.pdf.co/html-templates-tool/manager)\n\n### 📚 Agente de Información\n\nEste agente responde preguntas sobre **planes educativos** de VIVE Academy.\n\n#### Componentes:\n- **Base de datos vectorial en Supabase**:\n  - Alimentada por otra automatización.\n  - Utiliza RAG (Retrieval-Augmented Generation) para respuestas más contextuales.\n  - Clase creación de Base de datos RAG: [Clase Vibe Vip](https://www.skool.com/vibe-community-vip/classroom/0c1f5f69?md=7672c62ac16d4fd5af0b73927d02228a)\n- **FAQs en Airtable**:\n  - Tabla conectada con preguntas frecuentes.\n\n#### Documentación:\n- [📄 Crear token Airtable](https://airtable.com/create/tokens)\n\n### 📅 Agente de Agendamiento\n\nEste agente gestiona citas usando la API de **Cal.com**.\n\n#### Funcionalidades:\n- Registrar cita\n- Obtener disponibilidad\n- Cancelar cita\n- Consultar eventos programados\n\n#### Documentación:\n- [📄 API de Cal.com](https://cal.com/docs/api-reference/v2)\n\n#### Notas importantes:\n- Asegúrate de establecer correctamente la zona horaria del flujo en la configuración general de N8n (campo `Time Zone`) para evitar desincronizaciones.\n- Cuida los prompts usados en este agente, ya que manejar fechas y horas requiere claridad semántica.\n\n---\n\n## ✅ Recomendaciones Finales\n\n- Asegúrate de tener las APIs configuradas en N8n como **credenciales** seguras.\n- Valida que cada agente responde correctamente en pruebas independientes antes de integrarlos.\n- Revisa los **logs del flujo** para depurar errores y latencias.\n","height":1584,"width":1136,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1424,-512],"id":"da8a0ae3-a626-4531-9c08-838fed16f7ba","name":"Sticky Note1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-256,336],"id":"8061339b-4bc9-42a8-8dcd-385dd62c0fa3","name":"4.1-mini","credentials":{"openAiApi":{"id":"Q2XxlaDKXt0jUhQl","name":"openai kevirivm"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-96,304],"id":"2084bb5d-8595-47d6-846a-f3336fe41dcd","name":"2.0 flash","credentials":{"googlePalmApi":{"id":"l8FCPdpklurjE6Kx","name":"gemini api kevinrivm"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-96,128],"id":"943145d6-1ea9-4562-bb7a-8ea606230e69","name":"2.5 flash","credentials":{"googlePalmApi":{"id":"l8FCPdpklurjE6Kx","name":"gemini api kevinrivm"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[640,-32],"id":"82d61ecb-c1ca-404d-8caa-92d935148b90","name":"Respond to Webhook"}],"connections":{"Agente de agenda":{"ai_tool":[[{"node":"Orquestador","type":"ai_tool","index":0}]]},"obtenerEspaciosDisponibles":{"ai_tool":[[{"node":"Agente de agenda","type":"ai_tool","index":0}]]},"Agente de venta":{"ai_tool":[[{"node":"Orquestador","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Orquestador","type":"ai_memory","index":0}]]},"generarPdf":{"ai_tool":[[{"node":"Agente de venta","type":"ai_tool","index":0}]]},"razonamientoConversionHoraria":{"ai_tool":[[{"node":"Agente de agenda","type":"ai_tool","index":0}]]},"cancelarReunion":{"ai_tool":[[{"node":"Agente de agenda","type":"ai_tool","index":0}]]},"registrarReunion":{"ai_tool":[[{"node":"Agente de agenda","type":"ai_tool","index":0}]]},"obtenerReunion":{"ai_tool":[[{"node":"Agente de agenda","type":"ai_tool","index":0}]]},"razonarReuniones":{"ai_tool":[[{"node":"Agente de agenda","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agente de agenda","type":"ai_memory","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"Agente de venta","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"Orquestador","type":"main","index":0}]]},"Orquestador":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"enviarCotizacionEmail":{"ai_tool":[[{"node":"Agente de venta","type":"ai_tool","index":0}]]},"4.1":{"ai_languageModel":[[]]},"razonaEnvioCorreo":{"ai_tool":[[{"node":"Agente de venta","type":"ai_tool","index":0}]]},"4.1-mini":{"ai_languageModel":[[]]},"2.0 flash":{"ai_languageModel":[[{"node":"Orquestador","type":"ai_languageModel","index":0},{"node":"Agente de venta","type":"ai_languageModel","index":0}]]},"2.5 flash":{"ai_languageModel":[[{"node":"Agente de agenda","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8ca46313-0779-4a44-a078-ac8c2ee4e1a6","triggerCount":1,"tags":[]}