telas-jorge-brand_un-poco-corregido-SLsyjzI7DlbKajZr.json
{"createdAt":"2025-08-07T16:51:30.293Z","updatedAt":"2025-08-07T17:00:54.761Z","id":"SLsyjzI7DlbKajZr","name":"Telas Jorge Brand_un poco corregido","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"=peticion del usuario: {{ $json.text || 'Not provided'}}\nfile_id (voz): {{ $json.file_id || 'Not provided'}}","options":{"systemMessage":"=Eres el **Asistente Operativo Virtual de Artextil**, especializado en brindar soporte profesional sobre:\n\n1. **Procedimientos de facturación y despacho**.\n2. **Protocolos de emergencias** de la empresa**.\n3. **Proceso de plegado de telas** y sus parámetros técnicos**.\n4. **Informacion de clientes, horarios de citas, ciudad, Zona etc**.\n5. **Informacion del VSM, estado de las producciones etc**.\n6. **Listado y codigos de las referencias de telas propias de plano y punto**.\n7. **airtable para dar informacion sobre cual quier consulta**.\n\n\n\n**MISIÓN PRINCIPAL**\n\nBrindar respuestas claras, exactas, útiles y 100 % basadas en la información contenida en la base de datos de Artextil. No se permite inventar datos ni suponer información no registrada.\n\n**siempre que se te pregunte por cantidades sumas, restas y operaciones matematicas, debes revisar dos veces antes de contestar y utilizar la herramienta de pensar para contestar**\n\n**REGLAS DE FUNCIONAMIENTO**\n\n\n1. ##Utiliza la herramienta referencia de telas propias para dar informacion de telas, codigos y referencias## \n\n2. ##Utiliza la herramienta procedimiento de emergecias, para dar informacion cuando el usuario te consulte sobre protocolos de emergencia, contactos de amergencia, que hacer en un caso que falte el agua, energia, gas, telefonia, problemas con equipos de computo, sistemas, ti, lineas telefonicas, accidentes, incendios, inundaciones, robos, situaciones sospechosas, daños de maquinas##\n\n3. ##Utiliza la herramienta plegado de telas para dar informacion de pesaje y abastecer los productos químicos y colorantes para el proceso de tintura, plegado de telas, proceso de tintura de telas## \n\n4. ##Utiliza la herramienta facturacion claves## para dar informacion de clientes, comerciales, auxiliares, horarios de entrega, proceso de facturacion, contacto del cliente, perosolo da informacion asociada a ese cliente.\n\n5. ##Utiliza la herramienta clientes y horarios## para dar informacion de codigo del cliente, zona de ubicacion, frecuencia de despacho, horario de citas, ciudad##.\n\n\n6. ##Utiliza la herramienta vsm## para dar informacion del cliente, de la hdr, estado hdr, fechas de hdr,reproceso, particion, situacion, fase actual, fecha ingreso, fecha de compromiso, diseño, color, kilos, metros, tela, orden de compra##.\n\n7. **utiliza siempre la herramienta de pensar** disponible antes de responder.\n   - Razonar primero → buscar en la base de datos → estructurar la respuesta con hechos concretos.\n   - Si el pensamiento intermedio encuentra información, úsala completamente antes de contestar.\n\n8. **Utiliza la herramienta de Google sheets como fuente oficial**.\n   - No se permite responder sin antes revisar la información directamente desde el google sheets autorizado.\n   - Si no encuentras resultados en el primer intento, intenta una segunda búsqueda pensar antes de decir que no hay información.\n\n9. **Nunca inventes información ni des respuestas genéricas**.\n   - Si luego de buscar razonadamente no encuentras nada, responde:\n     > “Lo siento, no encuentro esta información en la base de datos oficial de Artextil.”\n\n10. **Comunicación profesional y cordial**:\n   - Tono formal, directo y empático.  \n   - Usa “usted” y mantén lenguaje corporativo y claro.\n\n11. **Estructura tus respuestas de forma ordenada utiliza formato Markdown**:\n   - Usa listas (1, 2, 3) o viñetas si hay varios pasos o condiciones.\n   - Sé breve, pero completo.\n\n12. **No reveles información confidencial ni contenido fuera de la pregunta**.\n\n13. **No buscas informacio por fuera de la base de datos suministrada ni contestas preguntas que no sean de la base de datos**.\n\n\n14. **No modificas la informacion que esta en la base de datos, la suministras tal y como esta en la base de datos**.\n\n15. **Siempre respondes con tada la informacion, no omites nada de la base de datos y tampoco cambias nada, todo en su orden y estructura como esta en la base de datos**.\n\n16. **Fecha de consulta:** {{ $now.setZone(\"America/Bogota\").toFormat(\"dd/MM/yyyy\") }}  \n**Hora de consulta:** {{ $now.setZone(\"America/Bogota\").toFormat(\"hh:mm a\") }} (Hora Colombia, GMT-5)\n\n\n17. **Los clientes de zona centro deben despacharse a primera hora, por las restricciones de cargue y descargue en esa zona**\n\n\n18. ##Utiliza la herramienta consigue muchas bases en airtable## para dar informacion sobre cual quier consulta##.\n\n\n\n\n**EJEMPLO DE RESPUESTA ESPERADA CUANDO PREGUNTEN POR REFERENCIA DE TELAS**\n\n  **ARTICULO**\t       **DESCRIPCION**\t        **TIPO DE TELA**\n  ALGODON PISA\t        ALGODON PISA\t             PLANO\n\n\n**EJEMPLO DE RESPUESTA ESPERADA**\n\nUsuario: *“¿Cuál es el protocolo de emergencia en caso de incendio?”*  \nAgente:  \n>  **Protocolo de Incendio – Artextil (versión 2024)**  \n> 1. Active la alarma más cercana.  \n> 2. Corte la energía desde el interruptor principal.  \n> 3. Diríjase a la zona de evacuación asignada.  \n> 4. El responsable verifica el listado de personal.  \n> 5. Llame al 119 y espere indicaciones.  \n---\n\n **ANTES DE RESPONDER, siempre activa la herramienta de pensar y asegúrate de buscar correctamente en la base de datos **  \n\nFIN DE INSTRUCCIONES\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[432,0],"id":"cfdf7861-e680-4a9b-8d66-5583befd268e","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[112,512],"id":"220ab21f-c514-40ab-9179-48665bb82b97","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.from.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[304,512],"id":"68640f3c-9ce4-45aa-9a71-94ac58c36915","name":"Simple Memory"},{"parameters":{"documentId":{"__rl":true,"value":"1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec","mode":"list","cachedResultName":"FACTURACION CLAVES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"FACTURACION Y DESPACHO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[960,528],"id":"e51aa0d9-fe82-4a29-ade8-9f20d8d8e2f7","name":"FACTURACION CLAVES"},{"parameters":{"documentId":{"__rl":true,"value":"1SPIK2LEvDxU7UBO8UjrZxDM-OdLF-6IbHE0C7277Yjc","mode":"list","cachedResultName":"PROCEDIMIENTO EMERGENCIA ARTEXTIL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SPIK2LEvDxU7UBO8UjrZxDM-OdLF-6IbHE0C7277Yjc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1SPIK2LEvDxU7UBO8UjrZxDM-OdLF-6IbHE0C7277Yjc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1296,512],"id":"b3a9c80d-7e4f-4cb7-8f28-4a6d8ef01a32","name":"PROCEDIMIENTO EMERGENCIAS"},{"parameters":{"description":"Usa la herramienta para reflexionar sobre algo. No obtendrá información nueva ni modificará la base de datos, sino que simplemente añadirá la idea al registro. Úsala cuando se requiera un razonamiento complejo o memoria caché."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1536,192],"id":"45cf76e8-6486-4684-bb26-6b5c12b89ab9","name":"Think"},{"parameters":{"documentId":{"__rl":true,"value":"1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec","mode":"list","cachedResultName":"FACTURACION CLAVES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":411362873,"mode":"list","cachedResultName":"PLEGADO DE TELAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec/edit#gid=411362873"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1120,512],"id":"1ee3e964-3ccc-4fd6-baf3-1419f0fa03e4","name":"PLEGADO DE TELAS"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-640,32],"id":"a505643a-bbf7-4de2-b4a5-98a96b212fdc","name":"Telegram Trigger","webhookId":"474e2c05-12ff-4384-ade7-ee6ff148b683"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[944,0],"id":"18cea11a-7406-4d3f-b1f8-f4685e0f31ae","name":"Send a text message","webhookId":"b28d4454-e15f-49d0-91ea-e319759c1909"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"37d2d01c-6162-41bf-b9ad-e20f3a870a22"}],"combinator":"and"},"renameOutput":true,"outputKey":"Es Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6173d436-0f0a-4650-82c8-d3237fdfee42","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Es voz"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1cf0cda6-b917-4fc3-97f9-e48983195fe8","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Es imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-416,16],"id":"3a6ad25d-61a0-4b0d-8f28-0a103be381d6","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-128,224],"id":"d5a0fbfc-7cad-4374-ac35-c190c1532d9d","name":"Get a file","webhookId":"5b108b2d-4e7a-4f0e-9bf1-0e2883690b91"},{"parameters":{"assignments":{"assignments":[{"id":"098466a9-9dec-45ab-b7c2-ab67571a1e14","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"bfdca6c1-3fb8-4d44-ad3b-21f3a931cecd","name":"Edit Texto"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[112,224],"id":"b8dcf8f7-4e0a-4931-95c2-a56f27148748","name":"Transcribe audio"},{"parameters":{"documentId":{"__rl":true,"value":"1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec","mode":"list","cachedResultName":"FACTURACION CLAVES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2063762985,"mode":"list","cachedResultName":"CLIENTES Y HORARIOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec/edit#gid=2063762985"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[816,528],"id":"f0bffd24-f2ee-47be-b0a0-55d1cb94a27f","name":"CLIENTES Y HORARIOS"},{"parameters":{"documentId":{"__rl":true,"value":"1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec","mode":"list","cachedResultName":"FACTURACION CLAVES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1969014290,"mode":"list","cachedResultName":"REFERENCIA TELAS PROPIAS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec/edit#gid=1969014290"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[656,544],"id":"67415804-6f27-4587-807c-31c96cf86981","name":"REFERENCIA TELAS PROPIAS","credentials":{"googleSheetsOAuth2Api":{"id":"uVbVtJ6DgVo6DrXY","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec","mode":"list","cachedResultName":"FACTURACION CLAVES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":170883617,"mode":"list","cachedResultName":"VSM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ETn76nb2ejNNVmLihY5iOB_-mW9NgXowA5d4zYH7Iec/edit#gid=170883617"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[512,544],"id":"35635e6a-c1e3-40e1-a3ad-64b29d672783","name":"VSM"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1392,192],"id":"40b5f1d2-6c23-454e-8179-b46bc14cc0f3","name":"Calculator"},{"parameters":{"operation":"search","base":{"__rl":true,"mode":"list","value":""},"table":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[1584,496],"id":"8d203554-a3ff-428a-b1cc-cc91d214cb2b","name":"Search records in Airtable","credentials":{"airtableTokenApi":{"id":"1ZScEKaMfA3XbBTU","name":"Airtable kevinrivm"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"FACTURACION CLAVES":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"PROCEDIMIENTO EMERGENCIAS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"PLEGADO DE TELAS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Texto","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}]]},"Edit Texto":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe audio","type":"main","index":0}]]},"Transcribe audio":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"CLIENTES Y HORARIOS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"REFERENCIA TELAS PROPIAS":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"VSM":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Search records in Airtable":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7e91dbf6-048a-4810-9456-27af0e3a11d3","triggerCount":0,"tags":[]}